@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Bold.ttf), url(../fonts/OpenSans-Bold.woff), url(../fonts/OpenSans-Bold.woff2);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Regular.ttf), url(../fonts/OpenSans-Regular.woff), url(../fonts/OpenSans-Regular.woff2);
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: OpenSans, sans-serif;
}

.header_footer_block {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.header_footer_block::after {
  content: "";
  background-color: #0a0e34; 
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.9;
}

.header {
  background-image: url(../img/football_1920.jpg);
  background-color: #0a0e34;
  padding-top: 45px;
  padding-bottom: 110px;
}

.footer {
  background-image: url(../img/game_1920.jpg);
  background-color: #0a0e34;
  padding-top: 229px;
  padding-bottom: 54px;
}

.logo_text, .header_caption, .store_buttons, .download_bottom {
  z-index: 1;
}

.logo {
  fill: #ffffff;
}

.logo_text_svg {
  width: 191px;
}

.header_caption {
  margin-top: 295px;
  margin-bottom: 222px;  
  padding-left: 12px;
  padding-right: 12px;
  color: #ffffff;
  font-size: 90px;
  font-weight: bold;
  text-transform: uppercase; 
}

.new_row {
  display: block;
  padding-left: 452px;
}

.store_buttons {
  display: flex;
}

.store_button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 310px;
  height: 77px;
  background-color: #5e42b0;
  border-radius: 35px;
  text-decoration: none;
}

.store_button:first-child {
  margin-right: 50px;
}

.store_button_logo {
  height: 48px;
}

.store_button_text {
  margin-left: 24px;
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.store_button_text strong {
  font-weight: bold;
}

.player {
  position: relative;
  overflow: hidden;
}

.player_img {
  position: absolute;
  z-index: 1;

}

.athlets .player_img {
  margin-top: 27px;
  margin-left: calc(50% - 568px);
  height: 908px;
}

.basketball .player_img {
  margin-top: 23px;
  margin-left: calc(50% - 156px);
  height: 815px;
}

.player_description {
  padding-top: 116px;
}

.player_title {
  color: #e7e7e7;
  font-size: 80px;
  line-height: 60px;
  font-weight: bold;
  text-transform: uppercase;
}

.athlets .player_title, .athlets .list_title, .athlets .list_paragraph {
  margin-left: 53%;
  padding-right: 15px;
  max-width: 730px;
}

.basketball .player_title, .basketball .list_title, .basketball .list_paragraph {
  margin-right: 50%;
  margin-left: auto;
  max-width: 754px;
}

.player:nth-child(even) .player_item, .player:nth-child(even) .player_title {
  padding-left: 12px;
}

ol {
  counter-reset: list;
  padding-left: 0;
}

ol li {
  list-style: none;
}

.list_title::before {
  content: counter(list, decimal-leading-zero);
  counter-increment: list;
  position: absolute;
}

.player_item {
  padding-top: 60px;
  padding-bottom: 52px;
}

.player_item:first-child {
  padding-top: 110px;
}

.player_item:nth-child(3n+2) {
  background-color: #f6f4fa;
}

.athlets .player_item:nth-child(3n+3) {
  background-color: #5e42b0;
}
  
.basketball .player_item:nth-child(3n+3) .list_paragraph, .athlets .player_item:nth-child(3n+3) .list_paragraph {
  color: #ffffff;
}

.basketball .player_item:nth-child(3n+3) {
  background-color: #0a0e34;
}

.list_title::before {
  color: #000000;
  left: 0;
  font-size: 18px;
  line-height: normal;
  font-weight: bold;
  padding-bottom: 5px;
  border-bottom: 5px solid #5e42b0;
}

.athlets .player_item:nth-child(3n+3) .list_title::before {
  border-bottom-color: #efefef;
}

.basketball .player_item:nth-child(3n+3) .list_title::before {
  color: #6754af;
  border-bottom-color: #ffffff;
}

.list_title {
  font-size: 36px;
  line-height: 34.49px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  padding-left: 33px;
  color: #c1c1c1;
}

.list_paragraph {
  margin-top: 31px;
  font-size: 20px;
}

.work_item {
  display: flex;
  position: relative;
  height: 730px;
  overflow: hidden;
}

.work_item:nth-child(even) {
  flex-direction: row-reverse;
}
.work_item::before, .work_item::after {
  position: absolute;
  top: 211px;
  left: calc(50% - 168px/2);
  z-index: 1;

}

.work_item::before {
  content: counter(list, decimal-leading-zero);
  counter-increment: list;
  color: #ffffff;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  background-color: #5e42b0;
  padding: 62px 70px;
}

.work_item::after {
  content: "";
  width: 28px;
  height: 5px;
  border-radius: 5px;
  background-color: #8f7bc8;
  margin-left: 70px;
  margin-top: 89px;
}

.work_pic {
  width: 50%;
  position: relative;
}

.work_img {
  height: 100%;
  position: absolute;
  right: 0;
}

.work_item:nth-child(even) .work_img {
  left: 0;
}

.work_description {
  width: 50%;
}

.work_title {
  font-size: 80px;
  line-height: 60px;
  color: #e7e7e7;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 260px;
  margin-left: 129px;
  max-width: 635px;
  padding-right: 14px;
  padding-left: 12px
}

.work_item:nth-child(even) .work_title {
  margin-left: auto;
  margin-right: 117px;
}

.work_paragraph {
  font-size: 24px;
  margin-top: 118px;
  margin-left: 129px;
  max-width: 635px;
  padding-right: 14px;
  padding-left: 12px
}

.work_item:nth-child(even) .work_paragraph {
  margin-left: auto;
  margin-right: 117px;
}

.download_bottom {
  display: flex;
  margin-bottom: 151px;
}

.download_bottom_logo {
  width: 130px;
  height: 137px;
  padding: 13px;
  background-color: #5e42b0;
  border-radius: 30px;
}

.download_bottom_text {
  display: flex;
  flex-direction: column;
  margin-left: 35px;
}

.download_bottom_text_1 {
  color: #ffffff;
  font-size: 80px;
  text-transform: uppercase;
  font-weight: bold;
}

.download_bottom_text_2 {
  color: #a496ca;
  font-size: 30px;
  text-transform: uppercase;
}

.store_buttons_footer {
  margin-bottom: 262px;
}

@media (min-width: 961px) and (max-width: 1920px) {
  .header_caption {
      width: 100%;
  }
  
  .new_row {
    padding-left: 27%;
  }
  
  .basketball .player_title, .basketball .list_title, .basketball .list_paragraph {
  width: 50%;
  }
}
/*scren 768*/
@media (min-width: 641px) and (max-width: 960px) {
  .header {
    background-image: url(../img/football_1280.jpg);
    padding-top: 5.21vw;
    padding-bottom: 11.85vw;
  }

  .player_description {
    padding-top: 11.2vw;
  }

  .athlets .player_img {
    margin-top: 11.2vw;
    margin-right: 6.38vw;
    right: 50%;
    height: 92vw;
  }

  .basketball .player_img {
    margin-top: 5.08vw;
    right: 0;
    height: 73.57vw;
  }

  .athlets .player_title, .athlets .list_title, .athlets .list_paragraph {
    margin-left: 38.08vw;
    padding-right: 4.3vw;
  }

  .player_item {
    padding-top: 5.5vw;
    padding-bottom: 5.5vw;
  }

  .player_item:first-child {
    padding-top: 8.03vw;
  }

  .player:nth-child(even) .player_item, .player:nth-child(even) .player_title {
    padding-left: 4.17vw;
  }

  .list_title {
    font-size: 4.17vw;
  }

  .list_paragraph {
    margin-top: 4.17vw;
    font-size: 2.08vw;
  }

  .work_item {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    height: 100%;
  }

  .work_item::before, .work_item::after {
    position: absolute;
    top: 65.63vw;
    left: 4.3vw;
    z-index: 1;
  }

  .work_item::before {
    content: counter(list, decimal-leading-zero);
    counter-increment: list;
    color: #ffffff;
    font-weight: bold;
    font-size: 3.13vw;
    line-height: 3.31vw;
    padding: 5.6vw;
    background-color: #5e42b0;
  }

  .work_item::after {
    content: "";
    width: 3.65vw;
    height: 0.65vw;
    border-radius: 0.65vw;
    background-color: #8f7bc8;
    margin-left: 5.6vw;
    margin-top: 9.11vw;
  }

  .work_pic {
    width: 100%;
  }

  .work_img {
    height: 76vw;
    position: inherit;
  }

  .work_item:nth-child(even) .work_img {
    height: 76vw;
    position: inherit;
  }

  .work_description {
    width: 100%;
  }

  .work_title, .work_item:nth-child(even) .work_title {
    font-size: 10.42vw;
    margin-top: 11.72vw;
    margin-left: 3vw;
    padding: 0;
  }

  .work_paragraph, .work_item:nth-child(even) .work_paragraph {
    font-size: 3.13vw;
    margin-top: 4.95vw;
    margin-left: 3vw;
    margin-bottom: 13.67vw;
    max-width: 78.77vw;
    padding: 0;
  }

  .footer {
    background-image: url(../img/game_1280.jpg);
    padding-top: 16.4vw;
    padding-bottom: 3vw;
  }
  
  .logo_text_svg {
    width: 26.7vw;
  }
  
  .header_caption {
    margin-top: 23.57vw;
    margin-bottom: 40.63vw;  
    padding-left: 7.68vw;
    font-size: 8.33vw;
  }
  
  .new_row {
    padding-left: 21.22vw;
  }
  
  .store_button {
    width: 40.4vw;
    height: 10vw;
  }
  
  .store_button:first-child {
    margin-right: 4.04vw;
  }
  
  .store_button_logo {
    height: 6.25vw;
  }

  .store_button_text {
    margin-left: 3.6vw;
    font-size: 1.8vw;
  }
  
  .download_bottom {
    margin-bottom: 37.5vw;
    flex-direction: column;
    align-items: center;
  }
  
  .download_bottom_logo {
    width: 16.9vw;
    height: 17.8vw;
    padding: 1.69vw;
    border-radius: 3.9vw;
  }

  .download_bottom_text {
    margin-left: 0;
    margin-top: 10.8vw;
  }
  
  .download_bottom_text_1 {
    font-size: 10.4vw;
  }
  
  .download_bottom_text_2 {
    font-size: 4.68vw;
  }
  
  .store_buttons_footer {
    margin-bottom: 7.16vw;
  }
}
/*screen 320*/
@media (max-width: 640px) {
  .header {
    background-image: url(../img/football_767.jpg);
    padding-top: 10.31vw;
  }
  
  .footer {
    background-image: url(../img/game_767.jpg);
    padding-top: 30.94vw;
    padding-bottom: 3.13vw;
  }
  
  .header, .footer {
    padding-left: 6.25vw;
    padding-right: 6.25vw;
  }

  .logo_text_svg {
    width: 41.56vw;
  }
  
  .header_caption {
    margin-top: 42.5vw;
    margin-bottom: 28.13vw;  
    font-size: 8.75vw;
  }
  
  .new_row {
    padding-left: 13.75vw;
  }
  
  .header {
    padding-bottom: 26.25vw;
  }

  .store_buttons {
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
  
  .store_button {
    height: 11vw;
    border-radius: 5.45vw;
    width: 100%;
  }
  
  .store_button:first-child {
    margin-right: 0;
    margin-bottom: 4.38vw;
  }
  
  .store_button_logo {
  height: 7.5vw;
  }
  
  .store_button_text {
    font-size: 2.5vw;
  }

  .athlets .player_img {
    margin-top: 25vw;
    margin-left: calc(50% - 192px/2);
    height: unset;
  }

  .basketball .player_img {
    margin-top: 25vw;
    margin-left: calc(50% - 302px/2);
    height: unset;
  }

  .player_description {
    padding-top: 7.5vw;
  }

  .player_title {
    font-size: 15.63vw;
    line-height: 15.63vw;
  }

  .athlets .player_title, .athlets .list_title, .athlets .list_paragraph {
    margin-left: 6.25vw;
    padding-right: 6.25vw;
    max-width: 228.13vw;
  }

  .basketball .player_title, .basketball .list_title, .basketball .list_paragraph {
    margin-right: 6.25vw;
    margin-left: 6.25vw;
    max-width: 228.13vw;
  }

  .player_lists {
    margin-top: 76.25vw;
  }

  .player_item {
    padding-bottom: 17.19vw;
  }

  .player_item:first-child {
    padding-top: 25.94vw;
  }

  .player_item:nth-child(3n+1) {
    background-color: #fafafa;
  }

  .player:nth-child(even) .player_item, .player:nth-child(even) .player_title{
    padding-left: 0;

  }
  
  .list_title {
    font-size: 7.19vw;
    line-height: 7.19vw;
    padding-left: 8.13vw;
  }

  .list_title::before {
    font-size: 4.38vw;
    padding-bottom: 0;
    border-bottom-width: 0.94vw;
  }

  .list_paragraph {
    margin-top: 8.43vw;
    font-size: 4.69vw;
  }
  
  .work_item {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    height: 100%;
  }
  .work_item::before, .work_item::after {
    position: absolute;
    top: 91.56vw;
    left: 6.25vw;
    z-index: 1;
  }

  .work_item::before {
    content: counter(list, decimal-leading-zero);
    counter-increment: list;
    color: #ffffff;
    font-weight: bold;
    font-size: 4.38vw;
    line-height: 4.38vw;
    padding: 8.44vw;
    background-color: #5e42b0;
  }

  .work_item::after {
    content: "";
    width: 5vw;
    height: 1.25vw;
    border-radius: 1.25vw;
    background-color: #8f7bc8;
    margin-left: 8.26vw;
    margin-top: 13.44vw;
  }

  .work_pic {
    width: 100%;
  }

  .work_img, .work_item:nth-child(even) .work_img {
    height: 109.69vw;
    position: inherit;
  }

  .work_description {
    width: 100%;
  }

  .work_title, .work_item:nth-child(even) .work_title {
    font-size: 8.75vw;
    line-height: 8.75vw;
    margin-top: 11.72vw;
    margin-left: 6.25vw;
    margin-right: 0;
    padding: 0;
  }

  .work_paragraph, .work_item:nth-child(even) .work_paragraph {
    font-size: 5vw;
    margin: 7.58vw 0 7.58vw 6.25vw;
    max-width: 87.5vw;
    padding: 0;

  }

  .download_bottom {
    margin-bottom: 23.75vw;
    flex-direction: column;
    align-items: center;
  }
  
  .download_bottom_logo {
    width: 22.75vw;
    height: 23.13vw;
    padding: 2.5vw;
    border-radius: 3.75vw;
  }

  .download_bottom_text {    
    margin-top: 18.44vw;
    margin-left: 0;
  }
  
  .download_bottom_text_1 {
    font-size: 10vw;
  }
  
  .download_bottom_text_2 {
    font-size: 4.38vw;
  }
  
  .store_buttons_footer {
    margin-bottom: 25.63vw;
  }
}