@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Bold.ttf), url(../fonts/OpenSans-Bold.woff), url(../fonts/OpenSans-Bold.woff2);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Regular.ttf), url(../fonts/OpenSans-Regular.woff), url(../fonts/OpenSans-Regular.woff2);
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: OpenSans, sans-serif;
  min-width: 320px;
}

h2 {
  font-size: 80px;
  line-height: 60px;
  color: #e7e7e7;
  text-transform: uppercase;
  font-weight: bold;
}

.header_footer_block {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.header_footer_block::after {
  content: "";
  background-color: #0a0e34; 
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.9;
}

.header {
  background-image: url(../img/football_1920.jpg);
  background-color: #0a0e34;
  padding-top: 45px;
  padding-bottom: 110px;
}

.footer {
  background-image: url(../img/game_1920.jpg);
  background-color: #0a0e34;
  padding-top: 229px;
  padding-bottom: 52px;
}

.logo_text, .header_caption, .store_buttons, .download_bottom {
  z-index: 1;
}

.logo {
  fill: #ffffff;
}

.logo_text {
  width: 191px;
}

.header_caption {
  margin-top: 295px;
  margin-bottom: 222px;  
  padding-left: 12px;
  padding-right: 12px;
  color: #ffffff;
  font-size: 90px;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
}

.new_row {
  display: block;
  padding-left: 452px;
}

.store_buttons {
  display: flex;
}

.store_button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 310px;
  height: 77px;
  background-color: #5e42b0;
  border-radius: 77px;
  text-decoration: none;
}

.content_button {
  display: flex;
}

.store_button:first-child {
  margin-right: 50px;
}

.store_button_logo {
  height: 48px;
}

.store_button_text {
  margin-left: 24px;
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.strong {
  font-weight: bold;
}

.player {
  position: relative;
  overflow: hidden;
}

.player_img {
  position: absolute;
  z-index: 1;
}

.athlets .player_img {
  margin-top: 27px;
  right: 50%;
  height: 908px;
}

.basketball .player_img {
  margin-top: 23px;
  left: calc(50% - 156px);
  height: 815px;
}

.player_description {
  padding-top: 116px;
}

.athlets .player_title, .athlets .list_title, .athlets .list_paragraph {
  margin-left: 53%;
  padding-right: 15px;
}

.basketball .player_title, .basketball .list_title, .basketball .list_paragraph {
  margin-right: 50%;
  margin-left: auto;
}

.player:nth-child(even) .player_item, .player:nth-child(even) .player_title {
  padding-left: 12px;
}

ol {
  counter-reset: list;
  padding-left: 0;
}

ol li {
  list-style: none;
}

.list_title::before {
  content: counter(list, decimal-leading-zero);
  counter-increment: list;
}

.player_item {
  padding-top: 60px;
  padding-bottom: 52px;
}

.player_item:first-child {
  padding-top: 109px;
}

.player_item:nth-child(3n+2) {
  background-color: #f6f4fa;
}

.athlets .player_item:nth-child(3n+3) {
  background-color: #5e42b0;
}
  
.basketball .player_item:nth-child(3n+3) .list_paragraph, .athlets .player_item:nth-child(3n+3) .list_paragraph {
  color: #ffffff;
}

.basketball .player_item:nth-child(3n+3) {
  background-color: #0a0e34;
}

.list_title::before {
  color: #000000;
  left: 0;
  font-size: 18px;
  line-height: normal;
  font-weight: bold;
  vertical-align: top;
  padding-right: 13px;
}

.list_title::after {
  content: "";
  width: 20px;
  height: 5px;
  border-radius: 2px;
  background-color: #8f7bc8;
  left: 0;
  bottom: 0;
  position: absolute;
}

.athlets .player_item:nth-child(3n+3) .list_title::after {
  background-color: #efefef;
}

.basketball .player_item:nth-child(3n+3) .list_title::before {
  color: #6754af;
}

.basketball .player_item:nth-child(3n+3) .list_title::after {
  background-color: #ffffff;
}

.list_title {
  font-size: 36px;
  line-height: 34.49px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  color: #c1c1c1;
}

.list_paragraph {
  margin-top: 31px;
  font-size: 20px;
}

.work_item {
  display: flex;
  position: relative;
  height: 730px;
  overflow: hidden;
}

.work_item:nth-child(even) {
  flex-direction: row-reverse;
}

.work_item::before, .work_item::after {
  position: absolute;
  top: 211px;
  left: calc(50% - 168px/2);
  z-index: 1;
}

.work_item::before {
  content: counter(list, decimal-leading-zero);
  counter-increment: list;
  color: #ffffff;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  background-color: #5e42b0;
  width: 168px;
  height: 155px;
  padding-top: 62px;
  padding-left: 70px;
  box-sizing: inherit;
}

.work_item::after {
  content: "";
  width: 28px;
  height: 5px;
  border-radius: 5px;
  background-color: #8f7bc8;
  margin-left: 70px;
  margin-top: 89px;
}

.work_pic {
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.work_item:nth-child(even) .work_img {
  left: 0;
}

.work_description {
  width: 50%;
}

.work_title {
  margin-top: 260px;
  margin-left: 129px;
  max-width: 635px;
  padding-right: 14px;
  padding-left: 12px
}

.work_item:nth-child(even) .work_title, .work_item:nth-child(even) .work_paragraph {
  margin-left: auto;
  margin-right: 117px;
}

.work_paragraph {
  font-size: 24px;
  margin-top: 118px;
  margin-left: 129px;
  max-width: 635px;
  padding-right: 14px;
  padding-left: 12px
}

.download_bottom {
  display: flex;
  margin-bottom: 151px;
}

.download_bottom_logo {
  width: 130px;
  height: 137px;
  padding: 13px;
  background-color: #5e42b0;
  border-radius: 30px;
}

.download_bottom_text {
  display: flex;
  flex-direction: column;
  margin-left: 35px;
}

.download_bottom_text_big {
  color: #ffffff;
  font-size: 80px;
  text-transform: uppercase;
  font-weight: bold;
}

.download_bottom_text_small {
  color: #a496ca;
  font-size: 30px;
  text-transform: uppercase;
}

.store_buttons_footer {
  margin-bottom: 262px;
}
/****************scren desctop****************/
@media (min-width: 961px) {
  .header_caption {
      width: 100%;
      max-width: 1531px;
  }
  
  .new_row {
    padding-left: 27%;
  }

  .athlets .player_title, .athlets .list_title, .athlets .list_paragraph {
    max-width: 730px;
  }
  
  .basketball .player_title, .basketball .list_title, .basketball .list_paragraph {
    width: 50%;
    max-width: 754px;
  }

  .work_pic {
    width: 50%;
    height: 730px;
  }
}
/****************scren 768****************/
@media (min-width: 641px) and (max-width: 960px) {
  h2 {
    font-size: 80px;
  }

  .header {
    background-image: url(../img/football_1280.jpg);
    padding-top: 40px;
  }

  .logo_text {
    width: 205px;
  }

  .footer .logo_text {
    margin-top: 55px;
  }
  
  .header_caption {
    font-size: 64px;
    margin-top: 2.828em;
    margin-bottom: 4.875em;  
    padding-left: 12%;
  }

  .new_row {
    padding-left: 14%;
  }

  .store_button {
    width: 310px;
    height: 77px;
  }
  
  .store_button:first-child {
    margin-right: 4.04%;
  }
  
  .store_button_logo {
    height: 48px;
  }

  .store_button_text {
    margin-left: 28px;
  }

  .athlets .player_img {
    margin-top: 94px;
    right: 56.38%;
    height: 699px;
  }

  .basketball .player_img {
    margin-top: 39px;
    left: calc(50% - 52px);
    height: 565px;
  }

  .player_description {
    padding-top: 86px;
  }

  .athlets .player_title, .athlets .list_title, .athlets .list_paragraph {
    margin-left: 38%;
    padding-right: 34px;
  }

  .basketball .player_title, .basketball .list_title, .basketball .list_paragraph {
    margin-right: 43.75%;
  }

  .player_item {
    padding-top: 42px;
    padding-bottom: 41px;
  }

  .player_item:first-child {
    padding-top: 62.54px;
  }

  .player:nth-child(even) .player_item, .player:nth-child(even) .player_title {
    padding-left: 33px;
  }

  .list_title {
    font-size: 32px;
  }

  .list_paragraph {
    margin-top: 32px;
    font-size: 16px;
  }

  .work_item {
    flex-wrap: wrap;
    height: 100%;
  }

  .work_item::before, .work_item::after {
    position: absolute;
    top: 504px;
    left: 33px;
    z-index: 1;
  }

  .work_item::before {
    width: 116px;
    height: 116px;
    padding-top: 43px;
    padding-left: 44px;
  }

  .work_item::after {
    margin-left: 44px;
    margin-top: 70px;
  }

  .work_pic {
    height: 584px;
  }

  .work_description {
    width: 100%;
  }

  .work_title, .work_item:nth-child(even) .work_title {
    margin-top: 91px;
    margin-left: 33px;
    padding: 0;
  }

  .work_paragraph, .work_item:nth-child(even) .work_paragraph {
    margin-top: 39px;
    margin-left: 33px;
    margin-bottom: 104px;
    max-width: 78.65%;
    padding: 0;
  }

  .footer {
    background-image: url(../img/game_1280.jpg);
    padding-top: 126px;
    padding-bottom: 23px;
  }
  
  .download_bottom {
    margin-bottom: 83px;
    flex-direction: column;
    align-items: center;
  }

  .download_bottom_text {
    margin-left: 0;
    margin-top: 83px;
    text-align: center;
  }
  
  .download_bottom_text_2 {
    font-size: 36px;
  }
  
  .store_buttons_footer {
    margin: 0;
  }
}
/**********screen 320***********/
@media (max-width: 640px) {
  .header {
    background-image: url(../img/football_767.jpg);
    padding-top: 33px;
    padding-bottom: 84px;
  }
  
  .footer {
    background-image: url(../img/game_767.jpg);
    padding-top: 99px;
    padding-bottom: 10px;
  }

  .logo_text {
    width: 133px;
  }

  .footer .logo_text {
    margin-top: 82px;
    margin-bottom: 10px;
  }
  
  .header_caption {
    margin-top: 137px;
    margin-bottom: 90px;  
    font-size: 28px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .new_row {
    padding-left: 44px;
  }

  .store_buttons {
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
  }
  
  .store_button {
    height: 35px;
    border-radius: 17px;
    width: 100%;
  }
  
  .content_button {
    width: 113px;
  }

  .store_button:first-child {
    margin-right: 0;
    margin-bottom: 14px;
  }
  
  .store_button_logo {
  height: 24px;
  }
  
  .store_button_text {
    font-size: 8px;
    margin-left: 5px;
  }

  .athlets .player_img {
    margin-top: 80px;
    right: calc(50% - 192px/2);
    height: unset;
  }

  .basketball .player_img {
    margin-top: 80px;
    right: calc(50% - 302px/2);
    height: unset;
  }

  .player_description {
    padding-top: 24px;
  }

  .player_title {
    font-size: 50px;
    line-height: 60px;
  }

  .athlets .player_title, .athlets .list_title, .athlets .list_paragraph {
    margin-left: 20px;
    padding-right: 20px;
  }

  .basketball .player_title, .basketball .list_title, .basketball .list_paragraph {
    margin-left: 20px;
    margin-right: 20px;
  }

  .player_lists {
    margin-top: 244px;
  }

  .player_item {
    padding-bottom: 55px;
  }

  .player_item:first-child {
    padding-top: 83px;
  }

  .player_item:nth-child(3n+1) {
    background-color: #fafafa;
  }

  .player:nth-child(even) .player_item, .player:nth-child(even) .player_title{
    padding-left: 0;
  }
  
  .list_title {
    font-size: 23px;
    line-height: 1em;
  }

  .list_title::before {
    font-size: 14px;
    padding-bottom: 0;
    padding-right: 10px;
  }

  .list_title::after {
    width: 15px;
    height: 4px;
    border-radius: 1.5px;
}

  .list_paragraph {
    margin-top: 28px;
    font-size: 15px;
  }
  
  .work_item {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    height: 100%;
  }
  .work_item::before, .work_item::after {
    position: absolute;
    top: 293px;
    left: 20px;
    z-index: 1;
  }

  .work_item::before {
    font-size: 14px;
    line-height: 1em;
    width: 70px;
    height: 70px;
    padding-top: 27px;
    padding-left: 27px;
  }

  .work_item::after {
    content: "";
    width: 15px;
    height: 4px;
    border-radius: 2px;
    margin-left: 27px;
    margin-top: 43px;
  }

  .work_pic {
    height: 351px;
  }

  .work_description {
    width: 100%;
  }

  .work_title, .work_item:nth-child(even) .work_title {
    font-size: 28px;
    line-height: 34.49px;
    margin-top: 34px;
    margin-left: 20px;
    margin-right: 0;
    padding: 0;
  }

  .work_paragraph, .work_item:nth-child(even) .work_paragraph {
    font-size: 16px;
    margin: 24px 0 79px 20px;
    padding: 0;
  }

  .download_bottom {
    margin-bottom: 77px;
    flex-direction: column;
    align-items: center;
  }
  
  .download_bottom_logo {
    width: 72px;
    height: 74px;
    padding: 13px 7px;
    border-radius: 15px;
  }

  .download_bottom_text {    
    margin-top: 59px;
    margin-left: 0;
    text-align: center;
  }
  
  .download_bottom_text_big {
    font-size: 32px;
  }
  
  .download_bottom_text_small {
    font-size: 14px;
  }
  
  .store_buttons_footer {
    margin-bottom: 0;
  }
}
