@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Bold.ttf), url(../fonts/OpenSans-Bold.woff), url(../fonts/OpenSans-Bold.woff2);
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Regular.ttf), url(../fonts/OpenSans-Regular.woff), url(../fonts/OpenSans-Regular.woff2);
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: OpenSans, sans-serif;
}

.header_footer_block {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.header_footer_block::after {
  content: "";
  background-color: #0a0e34; 
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.9;
}

.header {
  background-image: url(../img/football_1920.jpg);
  background-color: #0a0e34;
  padding-top: 45px;
  padding-bottom: 110px;
}

.footer {
  background-image: url(../img/game_1920.jpg);
  background-color: #0a0e34;
  padding-top: 229px;
  padding-bottom: 54px;
}

.logo_text, .header_caption, .store_buttons, .download_bottom {
  z-index: 1;
}

.logo {
  fill: #ffffff;
}

.logo_text_svg {
  width: 191px;
}

.header_caption {
  margin-top: 295px;
  margin-bottom: 222px;  
  padding-left: 12px;
  padding-right: 12px;
  color: #ffffff;
  font-size: 90px;
  font-weight: bold;
  text-transform: uppercase; 
}

.new_row {
  display: block;
  padding-left: 452px;
}

.store_buttons {
  display: flex;
}

.store_button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 310px;
  height: 77px;
  background-color: #5e42b0;
  border-radius: 35px;
  text-decoration: none;
}

.store_button:first-child {
  margin-right: 50px;
}
.store_button_logo {
  height: 48px;
}

.store_button_text {
  margin-left: 24px;
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.store_button_text strong {
  font-weight: bold;
}
/************     player     **************************************************************************/
.player {
  position: relative;
}

.player_img {
  position: absolute;
  z-index: 1;

}

.athlets .player_img {
  margin-top: 27px;
  margin-left: calc(50% - 568px);
  height: 908px;
}

.basketball .player_img {
  margin-top: 23px;
  margin-left: calc(50% - 156px);
  /*margin-left: 624px;*/
  height: 815px;
}

.player_description {
  padding-top: 116px;
}
.player_title {
  color: #e7e7e7;
  font-size: 80px;
  line-height: 60px;
  font-weight: bold;
  text-transform: uppercase;
}

.athlets .player_title, .athlets .list_title, .athlets .list_paragraph {
  margin-left: 53%;
  max-width: 715px;
  box-sizing: content-box;
}

.basketball .player_title, .basketball .list_title, .basketball .list_paragraph {
  /*margin-left: 12px;*/
  margin-left: calc(50% - 780px);
  max-width: 754px;
  box-sizing: content-box;
}

.player:nth-child(even) .player_item, .player:nth-child(even) .player_title {
  padding-left: 12px;
  box-sizing: content-box;
}

ol {
  counter-reset: list;
  padding-left: 0;
}

ol li {
  list-style: none;
}

.list_title::before {
  content: counter(list, decimal-leading-zero);
  counter-increment: list;
  position: absolute;
}

.player_item {
  padding-top: 60px;
  padding-bottom: 50px;
}

.player_item:nth-child(2) {
  background-color: #f6f4fa;
}

.athlets .player_item:nth-child(3) {
  background-color: #5e42b0;
}
  
.basketball .player_item:nth-child(3) .list_paragraph, .athlets .player_item:nth-child(3) .list_paragraph {
  color: #ffffff;
}

.basketball .player_item:nth-child(3) {
  background-color: #0a0e34;
}

.list_title::before {
  color: #000000;
  left: 0;
  font-size: 18px;
  line-height: normal;
  font-weight: bold;
  padding-bottom: 5px;
  border-bottom: 5px solid #5e42b0;
}

.athlets .player_item:nth-child(3) .list_title::before {
  border-bottom: 5px solid #efefef;
}

.basketball .player_item:nth-child(3) .list_title::before {
  color: #6754af;
  border-bottom: 5px solid #ffffff;
}

.list_title {
  font-size: 36px;
  line-height: 34.49px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  padding-left: 33px;
  color: #c1c1c1;
}

.list_paragraph {
  margin-top: 31px;
  font-size: 20px;
}

/**************************work it***********************/
.work_item {
  display: flex;
  position: relative;
  height: 730px;
}

.work_item:nth-child(even) {
  flex-direction: row-reverse;
}
.work_item::before, .work_item::after {
  position: absolute;
  top: 211px;
  left: calc(50% - 168px/2);
  z-index: 1;

}

.work_item::before {
  content: counter(list, decimal-leading-zero);
  counter-increment: list;
  color: #ffffff;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  padding-left: 70px;
  padding-top: 62px;
  background-color: #5e42b0;
  width: 168px;
  height: 154px;
  box-sizing: inherit;
}

.work_item::after {
  content: "";
  width: 28px;
  height: 5px;
  border-radius: 5px;
  background-color: #8f7bc8;
  margin-left: 70px;
  margin-top: 89px;
}

.work_pic {
  width: 50%;
  position: relative;
}

.work_img {
  height: 100%;
  position: absolute;
  right: 0;
}

.work_item:nth-child(even) .work_img {
  left: 0;
}

.work_description {
  width: 50%;
}

.work_title {
  font-size: 80px;
  line-height: 60px;
  color: #e7e7e7;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 260px;
  margin-left: 129px;
  max-width: 650px;
}

.work_item:nth-child(even) .work_title {
  margin-left: auto;
  margin-right: 117px;
}

.work_paragraph {
  font-size: 24px;
  margin-top: 118px;
  margin-left: 129px;
  max-width: 650px;

}

.work_item:nth-child(even) .work_paragraph {
  margin-left: auto;
  margin-right: 117px;
}
/**************************footer***********************/
.download_bottom {
  display: flex;
  margin-bottom: 151px;
}

.download_bottom_logo {
  width: 130px;
  height: 137px;
  padding: 13px;
  background-color: #5e42b0;
  border-radius: 30px;
}

.download_bottom_text {
  display: flex;
  flex-direction: column;
  margin-left: 35px;
}

.download_bottom_text_1 {
  color: #ffffff;
  font-size: 80px;
  text-transform: uppercase;
  font-weight: bold;
}

.download_bottom_text_2 {
  color: #a496ca;
  font-size: 30px;
  text-transform: uppercase;
}

.store_buttons_footer {
  margin-bottom: 262px;
}
/*****************************************************************************/
@media (min-width: 961px) and (max-width: 1920px) {
  .header_caption {
    width: 100%;
  }
  
  .new_row {
    padding-left: 27%;
  }
  

}

/*****************************************************************************/
@media (min-width: 641px) and (max-width: 960px) {
  .header {
    background-image: url(../img/football_1280.jpg);
    padding-top: 40px;
    padding-bottom: 91px;
  }
  
  .footer {
    background-image: url(../img/game_1280.jpg);
    padding-top: 126px;
    padding-bottom: 23px;
  }
  
  .logo_text_svg {
    width: 26.7vw;
  }
  
  .header_caption {
    margin-top: 181px;
    margin-bottom: 312px;  
    padding-left: 7.68vw;
    font-size: 8.33vw;
  }
  
  .new_row {
    padding-left: 21.22vw;
  }
  
  .store_button {
    width: 40.4vw;
    height: 10vw;
  }
  
  .store_button:first-child {
    margin-right: 4.04vw;
  }
  
  .store_button_logo {
    height: 6.25vw;
  }

  .store_button_text {
    margin-left: 3.6vw;
    font-size: 1.8vw;
  }
  
  
  /*************************bottom********************/
  .download_bottom {
    margin-bottom: 288px;
    flex-direction: column;
    align-items: center;
  }
  
  .download_bottom_logo {
    width: 16.9vw;
    height: 17.8vw;
    padding: 1.69vw;
    border-radius: 3.9vw;
  }

  .download_bottom_text {
    margin-left: 0;
    margin-top: 83px
  }
  
  .download_bottom_text_1 {
    font-size: 10.4vw;
  }
  
  .download_bottom_text_2 {
    font-size: 4.68vw;
  }
  
  .store_buttons_footer {
    margin-bottom: 55px;
  }
}

/*****************************************************************************/
@media (max-width: 640px) {
  .header {
    background-image: url(../img/football_767.jpg);
    padding-top: 33px;
  }
  
  .footer {
    background-image: url(../img/game_767.jpg);
    padding-top: 99px;
    padding-bottom: 10px;
  }
  
  .header, .footer {
    padding-left: 6.25vw;
    padding-right: 6.25vw;
  }
  .logo_text_svg {
    width: 41.56vw;
  }
  
  .header_caption {
    margin-top: 136px;
    margin-bottom: 90px;  
    font-size: 8.75vw;
  }
  
  .new_row {
    padding-left: 13.75vw;
  }
  
  .header {
    padding-bottom: 84px;
  }
  .store_buttons {
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
  
  .store_button {
    height: 11vw;
    border-radius: 5.45vw;
    width: 100%;
  }
  
  .store_button:first-child {
    margin-right: 0;
    margin-bottom: 14px;
  }
  
  .store_button_logo {
  height: 7.5vw;
}
  
  .store_button_text {
    font-size: 2.5vw;
  }
  
  
  /**************bottom*****************/
  .download_bottom {
    margin-bottom: 23.75vw;
    flex-direction: column;
    align-items: center;
  }
  
  .download_bottom_logo {
    width: 22.75vw;
    height: 23.13vw;
    padding: 2.5vw;
    border-radius: 3.75vw;
  }
  .download_bottom_text {    
    margin-top: 59px;
    margin-left: 0;
  }
  
  .download_bottom_text_1 {
    font-size: 10vw;
  }
  
  .download_bottom_text_2 {
    font-size: 4.38vw;
  }
  
  .store_buttons_footer {
    margin-bottom: 82px;
  }
}